@charset "UTF-8";
*{margin: 0;padding: 0}
a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 10px 10px;
    width: auto !important;
    border: none !important;
}

.split {
    border-top: 1px solid #A09393;
}

img.selected {
    background-color: blue;
}

.message {
    color: red;
}

.focus {
    border: 1px double red;
}

.changed {
    color: #F89406;
}

.success {
    color: green !important;
}

.button-add {
    padding: 5px 10px;
    background: green;
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
    z-index: 99999;
}

.button-add:hover {
    background: orangered;
    text-decoration: none;
    color: #fff;
}

.button-add:visited {
    color: #fff;
}

.btn-right {
    top: 70px;
    right: 15px;
}

.btn-empty-row {
    top: 70px;
    right: 222px;
    position: fixed;
}

.btn-empty-col {
    top: 70px;
    right: 50px;
    margin-left: 10px;
}

.btn-left {
    bottom: 70px;
    left: 15px;
    clear: both;
}

textarea {
    border: none;
    margin: 1px;
    width: 99%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    padding: 2px;
}

table {
    max-width: auto !important;
    float: left;
    overflow: auto;
}

tbody {
    margin-right: 10px;
    float: left;
}

td {
    margin: 2px;
    border: 1px solid #2F96B4;
    vertical-align: top;
}

tr {
    border: 1px solid #2F96B4;
}

#cellcontainer {
    margin-bottom: 10px;
    max-width: 2000% !important;
}

.container {
    margin-left: 0;
}

p.user {
    float: right;
    position: absolute;
    top: -40px;
    right: 15px;
    font-size: 16px;
}

p.user span {
    font-weight: bold;
    margin-bottom: 20px;
}

p.time {
    float: right;
    right: 15px;
    font-size: 12px;
}
h1.title{
    width: 75%;
    float: left;
}
#header {
    left: 83%;
    position: absolute;
    width: 220px;
}
#header p{
    line-height: 150%;
}