
<ul class="nav nav-tabs">
    <?php if ($this->currentMenu != 'login') { ?>
        <li class="<?php echo $this->currentMenu == 'cell' ? ' active ' : '' ?>">
            <a href="/<?php echo $this->moduleName; ?>/content">Cell</a>
        </li>
        <li class="<?php echo $this->currentMenu == 'password' ? ' active ' : '' ?>"><a
                href="/<?php echo $this->moduleName; ?>/password">Password</a></li>
        <li><a href="/<?php echo $this->moduleName; ?>/login/logout">Logout</a></li>
    <?php } ?>
</ul>



