<div style="width: 25%; margin: auto">
<h1>Login</h1>
<div class="login-page">
    <form role="form" action="/<?php echo ADMIN_REWRITE_SOURCE; ?>/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <button type="button" class="btn btn-info" onclick="gotoFb('<?php echo $this->helper->getUrlLogin(); ?>')">Login With FaceBook</button>
    </form>
</div>
</div>
<script>
    function gotoFb(url) {
        window.location.assign(url);
    }
</script>