<h1>Change Password</h1>

<div class="login-page">
    <p class="message"><?php echo $this->escape($this->messages); ?></p>

    <form role="form" action="/<?php echo ADMIN_REWRITE_SOURCE; ?>/password" method="post">
        <div class="form-group">
            <label for="current">Current Password</label>
            <input type="password" class="form-control" name="current" placeholder="Current Password"/>
        </div>
        <div class="form-group">
            <label for="new">New Password</label>
            <input type="password" class="form-control" name="new" placeholder="New Password"/>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" class="form-control" name="confirm" placeholder="Confirm Password"/>
        </div>
        <button type="submit" class="btn btn-default">Change</button>
    </form>
</div>
