<?php echo $this->doctype(); ?>
<html>
<head>
    <title><?php echo $this->escape($this->siteName . ' - ' . $this->title); ?></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?php echo $this->headMeta(); ?>
    <link rel="shortcut icon" href="<?php echo LAST_TEMP ?>favicon.ico" type="image/x-icon"/>
    <?php echo $this->optimizeHeadLink(); ?>
    <?php $this->optimizeResource(); ?>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<?php echo LAST_TEMP ?>html5shiv-3.6.2.min.js"></script>
    <script type="text/javascript" src="<?php echo LAST_TEMP ?>respond-1.3.0.min.js"></script>
    <![endif]-->

</head>
<body>
<a href="#content" class="sr-only">Skip to content</a>
<?php echo $this->render('common/header' . $this->min . '.phtml'); ?>
<?php echo $this->layout()->content; ?>
<?php echo $this->optimizeHeadScript(); ?>
</body>
</html>