<?php foreach($this->tasks as $task) { ?>
    <tr>
        <?php foreach($this->titles as $title) { ?>
            <td><textarea  onchange="ContentController.updateInstant(<?php echo $title.','.$task ?>);" <?php echo ($this->focuses[$title][$task] == 1)?'disabled':''; ?> id="text_r<?php echo $title.'c'.$task ?>"><?php echo isset($this->cells[$title][$task]) ? $this->escape($this->cells[$title][$task]) : ''?></textarea></td>
        <?php }?>
    </tr>
<?php }?>
