
<h1 class="title">Cell list</h1>
<div id="header">
    <?php if ($this->currentMenu != 'login') { ?>
        <p class="user">Hello <span>
    <?php
    $userDetails = Zend_Registry::getInstance()->session->destination;
    echo $userDetails->username;
    ?>
    </span><p class="time"></p></p>

    <?php } ?>

    <a href="javascript:ModuleFunction.empty(2);" class="button-add btn-empty-col" style="float: right">Empty blank columns</a>
    <a href="javascript:ModuleFunction.addRow();" class="button-add btn-right" style="float: right">+</a>
</div>
<table id="cellcontainer">
    <tbody id="celltable">
        <?php foreach($this->tasks as $task) { ?>
            <tr>
                <?php foreach($this->titles as $title) { ?>
                    <td><textarea onchange="ContentController.updateInstant(<?php echo $title.','.$task ?>);" id="text_r<?php echo $title.'c'.$task ?>" <?php echo ($this->focuses[$title][$task] == 1)?'disabled':''; ?> ><?php echo isset($this->cells[$title][$task]) ? $this->escape($this->cells[$title][$task]) : ''?></textarea></td>
                <?php }?>
            </tr>
        <?php }?>
    </tbody>
</table>
<a style="float: left" href="javascript:ModuleFunction.addCell();" class="button-add btn-left">+</a>
<br>
<a href="javascript:ModuleFunction.empty(1);" class="button-add btn-left" style="float: left;margin: 10px 0 10px">Empty blank rows</a>